.root {
    -fx-cursor: default;

    -dark-corlr: #464646;

    -dark-text: #d8d8d8;
    -dark-text-secondary: #c4c4c4;

    -dark-border: derive(#505050, 70%);

    -dark-body-color: derive(-dark-corlr, 10%);

    /*label的默认颜色*/
    -fx-text-background-color: -dark-text;

    -fx-background-color: derive(-dark-border, -20%), -dark-corlr;
    -fx-background-insets: 0.06em 0 0 0, 0.06em;
}

/* region {按钮} */
.button,
.button:focused {

    -fx-shadow-highlight-color: derive(-dark-corlr, -20%);
    -fx-outer-border: derive(-dark-corlr, -20%);
    -fx-inner-border: derive(-dark-corlr, 70%);
    -fx-body-bg-color: derive(-dark-corlr, 10%);
    -fx-body-color: linear-gradient(
            to bottom,
            ladder(-fx-body-bg-color, derive(-fx-body-bg-color, 8%) 75%, derive(-fx-body-bg-color, 10%) 80%),
            derive(-fx-body-bg-color, -8%)
    );
    -fx-background-insets: 0, 0, 0.06em, 0.12em;
    -fx-text-base-color: -dark-text-secondary;
}

.button:hover {
    -fx-body-bg-color: derive(-dark-corlr, 30%);
}

/* endregion */


/* region {单选按钮} */
.radio-button {
    -fx-text-fill: -dark-text-secondary;
}

.radio-button > .radio {
    -fx-background-color: derive(-dark-border, -35%), -dark-border, -dark-body-color;
    -fx-background-insets: 0, 0.06em, 0.12em;
}

.radio-button:hover > .radio {
    -fx-background-color: derive(-dark-border, 20%), -dark-body-color;
    -fx-background-insets: 0, 0.12em;
}

.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.radio-button:hover > .radio > .dot {
    -fx-background-color: derive(-dark-text-secondary, -30%);
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -dark-text-secondary;
}

/* endregion */


/* region {下拉列表} */
.choice-box {
    -fx-background-color: -dark-border, -dark-body-color;
    -fx-background-insets: 0, 0.06em;
}

.choice-box:hover {
    -fx-background-color: -dark-border, derive(-dark-body-color, 15%);
}

.choice-box > .label {
    -fx-text-fill: -dark-text-secondary;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: -dark-text-secondary;
}

.context-menu {
    -fx-background-color: -dark-border, -dark-body-color;
    -fx-background-insets: 0, 0.06em;
}

.context-menu .label {
    -fx-text-fill: -dark-text-secondary;
}

.radio-menu-item:focused {
    -fx-background-color: derive(-dark-body-color, 15%);
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: -dark-text-secondary;
}

.radio-menu-item:focused:checked > .left-container > .radio {
    -fx-background-color: -dark-text-secondary;
}
/* endregion */